{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">About the Timeline</h1>
        <p class="lead">Welcome to my page! The Timeline was created for my final project in <em>CS50's Intro to
            Computer Science</em> course free from EdX using Python, Flask, HTML, and CSS:</p>
        <ul>
            <li>Python - importer.py, sentences.py, app.py
            <ul>
                <li>
                    <strong>sentences.py - </strong> searches through a plaintext version of <em>Sapiens,</em> adds
                    sentences that fit the criteria to a list of dicts containing (int)date, (str)event pairs. Dates
                    are determined by the 1-2 substrings preceding the keywords, e.g. 3 million is translated to 3 *
                    1000000. Pairs are exported to a csv with columns date and event. Continued in importer.
                </li>
                <li>
                    <strong>importer.py - </strong> connects to an sqlite database and imports the csv lines to the
                    database, one row at a time. I recognize that importer.py and sentences.py could totally be combined
                    into one script but I had to figure out how to use sqlite tools in the PyCharm IDE so I figured
                    it would be easier to work off of a separate file instead of continuing from the same program and
                    increasing the complexity.
                </li>
                <li>
                    <strong>app.py - </strong> the backbone of the site, runs Flask with three routes to render the
                    site. Connects to the db with dates and events and passes a list of dicts to the index page where
                    a loop is run for the length of the list to process each date and event and render them into the
                    template. Important dates are treated slightly differently to emphasize their importance but all
                    events are added to an unordered list and styled accordingly.
                </li>
            </ul>
            </li>
            <li>
                HTML/CSS - index.html, layout.html, about.html, syle.css
                <ul>
                    <li>
                        <strong>index.html - </strong> the homepage and abridged page of the site. Uses Jinja to run
                        a loop and process each date/event pair and implement the layout. Index.html is also used for
                        the 'abridged' page, but it is passed only the important events to make a shorter list.
                    </li>
                    <li>
                        <strong>layout.html - </strong> the basic template of each page, it links to
                        stylesheets and the required libraries (thanks, Bootstrap!) and creates the navbar and footer.
                    </li>
                    <li>
                        <strong>about.html - </strong> this page! Implements layout.html and is mostly made of ul's.
                    </li>
                    <li>
                        <strong>style.css - </strong> a stylesheet for this site. Very light on styling but styles
                        the important and other list items on the timeline among other things.
                    </li>
                </ul>
            </li>
        </ul>
        Overall I'm pretty happy with how the site turned out given it only took a couple days. There are some things
        that I planned on implementing that didn't end up working out and some other things that I didn't intend on
        implementing that I'm pretty happy with but I plan on starting <em>CS50's Intro to Web Dev</em> tomorrow so
        I'm looking forwards to learning more! Thanks for checking out my site and have a great day!
        <hr class="my-4">
        <p>All dates and quotes were extracted from the book <em>Sapiens</em> by Yuval Noah Harari using a custom python
            script using a regular expression search... can you guess the keywords?</p>
        <a class="btn btn-primary btn-lg" href="https://www.ynharari.com/book/sapiens-2/" role="button">Learn more
            about the book</a>
        <a class="btn btn-primary btn-lg" href="https://github.com/23tymas/cs50final" role="button">Check out the
        source files</a>
    </div>
{% endblock %}
